* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aside {
  background-color: #233A95;
  padding: 7px 0px;
}

.aside .container {
  font-size: 12.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.aside .container .covid {
  padding: 0px 6px;
}

.header-top {
  background-color: #fff;
  border-bottom: 1px solid #e3e4e6;
  color: #3e445a;
}

.header-top .container .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .container .nav-bar .nav-column-left {
  font-size: 13px;
}

.header-top .container .nav-bar .nav-column-left .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.header-top .container .nav-bar .nav-column-left .nav-list .nav-item {
  padding-left: 15px;
  list-style: none;
}

.header-top .container .nav-bar .nav-column-left .nav-list .nav-item .nav-link {
  color: currentColor;
}

.header-top .container .nav-bar .nav-column-left .nav-list .nav-item .nav-link:hover {
  color: #2bbef9;
}

.header-top .container .nav-bar .nav-column-right {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top .container .nav-bar .nav-column-right .icon-text-column-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .container .nav-bar .nav-column-right .icon-text-column-right img {
  margin-right: 5px;
}

.header-top .container .nav-bar .nav-column-right .icon-text-column-right span {
  padding-right: 20px;
}

.header-top .container .nav-bar .nav-column-right .nav-right-text-content {
  border-left: 1px solid black;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .container .nav-bar .nav-column-right .nav-right-text-content .nav-right-call {
  color: #2bbef9;
  text-decoration: none;
}

.header-top .container .nav-bar .nav-column-right .nav-right-text-content .nav-right-call strong {
  margin-left: 3px;
  font-weight: bolder;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money {
  border-left: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money .language-list {
  margin: 0;
  list-style: none;
  height: 2.4375rem;
  position: relative;
  top: 10px;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money .language-list .languages {
  position: relative;
  cursor: pointer;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money .language-list .languages .fa-angle-down {
  padding-left: 3px;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money .language-list .languages .sub-languages {
  visibility: hidden;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  color: black;
  background-color: #fff;
  border: 1px solid #edeef5;
  font-weight: 500;
  z-index: 4;
  padding: 13px;
  position: absolute;
  left: -18px;
  top: 30px;
  opacity: 0;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money .language-list .languages .sub-languages li {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  list-style: none;
  padding: 4px 14px;
  cursor: pointer;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money .language-list .languages .sub-languages li:hover {
  color: #1dddff;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money .language-list:hover .sub-languages {
  opacity: 1;
  visibility: visible;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money .language-list:hover {
  color: #2bbef9;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money .money-list {
  list-style: none;
  margin: 0;
  height: 2.4375rem;
  position: relative;
  top: 10px;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money .money-list .money {
  cursor: pointer;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money .money-list .money .fa-angle-down {
  padding-left: 3px;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money .money-list .money .sub-money {
  visibility: hidden;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  color: black;
  background-color: #fff;
  border: 1px solid #edeef5;
  font-weight: 500;
  z-index: 4;
  padding: 20px;
  position: absolute;
  left: 20px;
  top: 30px;
  opacity: 0;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money .money-list .money .sub-money li {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  list-style: none;
  padding: 3px 4px;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money .money-list .money .sub-money li:hover {
  color: #1dddff;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money .money-list:hover .sub-money {
  opacity: 1;
  visibility: visible;
}

.header-top .container .nav-bar .nav-column-right .nav-right-language-money .money-list:hover {
  color: #2bbef9;
}

.header-bottom {
  padding-top: 20px;
}

.header-bottom .container .nav-bar-center {
  margin-left: 30px;
}

.header-bottom .container .nav-bar-center .sub-nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-bottom .container .nav-bar-center .sub-nav-top .icon-text {
  padding-left: 30px;
  padding-right: 20px;
}

.header-bottom .container .nav-bar-center .sub-nav-top .icon-text p {
  display: block;
  font-size: .6875rem;
  opacity: .5;
  margin-top: 2px;
}

.header-bottom .container .nav-bar-center .sub-nav-top .select-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom .container .nav-bar-center .sub-nav-top .select-location .select-location-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 50px;
  border: 1px solid #d9d9e9;
  border-radius: 6px;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;
}

.header-bottom .container .nav-bar-center .sub-nav-top .select-location .select-location-text .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 25px 0px 20px;
}

.header-bottom .container .nav-bar-center .sub-nav-top .select-location .select-location-text .text p:first-child {
  font-size: .625rem;
  opacity: .5;
  margin: 0;
}

.header-bottom .container .nav-bar-center .sub-nav-top .select-location .select-location-text .text p:last-child {
  font-size: 13.4px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: #233a95;
  padding-right: 1.25rem;
  margin: 0;
}

.header-bottom .container .nav-bar-center .sub-nav-top .select-location .select-location-text .fa-angle-down {
  position: absolute;
  right: 17px;
  top: 42%;
  font-size: 12px;
  color: #233a95;
}

.header-bottom .container .nav-bar-center .sub-nav-top .select-location .sub-nav-top-search {
  position: relative;
}

.header-bottom .container .nav-bar-center .sub-nav-top .select-location .sub-nav-top-search form .search {
  font-size: 16px;
  padding: 0px 15px;
  width: 560px;
  height: 60px;
  max-width: 100vw;
  margin: 0;
  background-color: #f3f4f7;
  color: #202435;
  outline: none;
  border: none;
  border-radius: 10px;
}

.header-bottom .container .nav-bar-center .sub-nav-top .select-location .sub-nav-top-search form .fa-magnifying-glass {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.3rem;
  font-weight: 600;
  opacity: 0.7;
}

.header-bottom .container .nav-bar-center .sub-nav-top .icon-user-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.header-bottom .container .nav-bar-center .sub-nav-top .icon-user-basket .user-basket {
  font-size: 1.125rem;
  width: 2.625rem;
  height: 2.625rem;
  border: 1px solid #e2e4ec;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom .container .nav-bar-center .sub-nav-top .icon-user-basket bdi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 18px;
}

.header-bottom .container .nav-bar-center .sub-nav-top .icon-user-basket bdi .price-basket {
  padding-right: 5px;
}

.header-bottom .container .nav-bar-center .sub-nav-top .icon-user-basket .basket {
  position: relative;
  background-color: #FFF1EE;
}

.header-bottom .container .nav-bar-center .sub-nav-top .icon-user-basket .basket .bi-bag {
  color: #ea2b0f;
}

.header-bottom .container .nav-bar-center .sub-nav-top .icon-user-basket .basket sup {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #ea2b0f;
  position: absolute;
  right: -4px;
  top: -3px;
  padding: 8px 3px 10px 5px;
  border-radius: 50%;
  color: white;
  min-width: 1.0625rem;
  height: 1.0625rem;
  font-size: 13px;
}

.header-bottom .container .nav-bar-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-button .all-categories {
  margin-left: 50px;
  cursor: pointer;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .9375rem;
  font-weight: 600;
  height: 3.125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: #fff;
  background-color: #2bbef9;
  border-radius: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-button .all-categories .bi-list {
  font-size: 18px;
  padding-right: 10px;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-button .all-categories .all-categories-total h3 {
  letter-spacing: 0;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-button .all-categories .all-categories-total span {
  position: absolute;
  right: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .625rem;
  letter-spacing: 0;
  text-transform: uppercase;
  height: 1.125rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #71778e;
  background-color: #edeef5;
  border: 1px solid #fff;
  border-radius: 1.125rem;
  bottom: -0.5rem;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-button .all-categories .bi-chevron-down {
  margin-left: 14px;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-button .dropdown-categories {
  display: none;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list .shop {
  position: relative;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list .shop .nav-bottom-menu-sub-shop {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 0.25s cubic-bezier(0.17, 0.62, 0.44, 0.99);
  transition: all 0.25s cubic-bezier(0.17, 0.62, 0.44, 0.99);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  padding-left: 70px;
  padding-right: 174.5px;
  background-color: white;
  border: 1px solid #ffffff;
  z-index: 30;
  width: 1540px;
  top: 70px;
  left: -690px;
  border-top-color: transparent !important;
  padding-top: 1.875rem;
  padding-bottom: 2.25rem;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list .shop .nav-bottom-menu-sub-shop ul ul {
  color: #233a95;
  font-weight: 500;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list .shop .nav-bottom-menu-sub-shop ul ul:hover {
  color: #2bbef9;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list .shop .nav-bottom-menu-sub-shop ul ul li {
  color: #3e445a;
  font-size: 13px;
  list-style: none;
  padding-top: 20px;
  cursor: pointer;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list .shop .nav-bottom-menu-sub-shop ul ul li:hover {
  color: #2bbef9;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list .shop:hover .nav-bottom-menu-sub-shop {
  opacity: 1;
  visibility: visible;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list .home {
  position: relative;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list .home:hover .nav-bottom-menu-sub {
  opacity: 1;
  visibility: visible;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list .nav-bottom-menu-item .nav-bottom-menu-link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
  height: 2.5rem;
  color: #3e445a;
  padding: 10px 10px;
  margin: 10px 10px;
  border-radius: 2.5rem;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list .nav-bottom-menu-item .nav-bottom-menu-link:hover {
  background-color: #f1f9ff;
  color: #32BDF8;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list .nav-bottom-menu-item .fa-angle-down {
  padding-left: 7px;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list .nav-bottom-menu-item .bi-badge-8k {
  padding-right: 5px;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list .nav-bottom-menu-item .nav-bottom-menu-sub {
  position: absolute;
  min-width: 190px;
  margin: 0;
  padding: 30px 30px;
  list-style: none;
  left: -0.9375rem;
  top: 40px;
  z-index: 40;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 0.25s cubic-bezier(0.17, 0.62, 0.44, 0.99);
  transition: all 0.25s cubic-bezier(0.17, 0.62, 0.44, 0.99);
  background-color: #fff;
  border: 1px solid #edeef5;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list .nav-bottom-menu-item .nav-bottom-menu-sub li {
  color: #3e445a;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 17px;
  font-weight: 500;
}

.header-bottom .container .nav-bar-bottom .nav-bar-bottom-menu .nav-bottom-menu-list .nav-bottom-menu-item .nav-bottom-menu-sub li:hover {
  color: #32BDF8;
}

.swiper {
  margin-top: 20px;
}

.swiper .swiper-button-next::after {
  font-size: 16px;
  padding: 7px 10px;
  border-radius: 50%;
  background-color: white;
}

.swiper .swiper-button-prev::after {
  font-size: 16px;
  padding: 7px 10px;
  border-radius: 50%;
  background-color: white;
}

.swiper .swiper-wrapper .swiper-slide {
  padding-top: 70px;
  background-image: url("../img/slider-img/slider-image-6.jpg");
  background-size: 100%;
  min-width: 0;
  background-repeat: no-repeat;
}

.swiper .swiper-wrapper .swiper-slide .testimonial-top-descripton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper .swiper-wrapper .swiper-slide .testimonial-top-descripton p {
  font-size: .75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.swiper .swiper-wrapper .swiper-slide .testimonial-top-descripton .discount {
  position: relative;
  margin-left: 20px;
  font-size: .875rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: green;
  border-radius: 10px;
  opacity: 0.8;
}

.swiper .swiper-wrapper .swiper-slide .testimonial-top-descripton .discount::before {
  position: absolute;
  content: '';
  top: -5px;
  bottom: -5px;
  left: -0.75rem;
  right: -0.75rem;
  background: #00b853;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 184, 83, 0.2)), to(rgba(32, 55, 88, 0)));
  background: linear-gradient(90deg, rgba(0, 184, 83, 0.2) 0%, rgba(32, 55, 88, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b853", endColorstr="#203758", GradientType=1);
  border-radius: 2.5rem;
  z-index: -1;
}

.swiper .swiper-wrapper .swiper-slide .testimonial-bottom-title {
  margin-bottom: 30px;
}

.swiper .swiper-wrapper .swiper-slide .testimonial-bottom-title h3 {
  font-weight: 700;
  letter-spacing: -.7px;
  width: 545px;
  font-size: 50px;
}

.swiper .swiper-wrapper .swiper-slide .testimonial-bottom-title p {
  padding-top: 8px;
  font-size: 17px;
}

.swiper .swiper-wrapper .swiper-slide .testimonial-bottom-title .from span {
  font-size: 2.25rem;
  color: #d51243;
  font-weight: 500;
  padding-left: 10px;
}

.swiper .swiper-wrapper .swiper-slide .testimonial-bottom-title a {
  background-color: #2bbef9;
  border-radius: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  font-size: .875rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0 0.9375rem;
  border: 1px solid;
  color: #fff;
  border-color: transparent;
  outline: none;
  -webkit-transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
  transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
}

.swiper .swiper-wrapper .swiper-slide .testimonial-bottom-title a .bi-arrow-right {
  margin-left: 10px;
}

.swiper .swiper-wrapper .two {
  padding-top: 70px;
  background-image: url("../img/slider-img/slider-image-7.jpg");
  background-size: 100%;
  min-width: 0;
  background-repeat: no-repeat;
}

.swiper .swiper-wrapper .two .testimonial-top-descripton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper .swiper-wrapper .two .testimonial-top-descripton p {
  font-size: .75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.swiper .swiper-wrapper .two .testimonial-top-descripton .discount {
  position: relative;
  margin-left: 20px;
  font-size: .875rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: green;
  border-radius: 10px;
  opacity: 0.8;
}

.swiper .swiper-wrapper .two .testimonial-top-descripton .discount::before {
  position: absolute;
  content: '';
  top: -5px;
  bottom: -5px;
  left: -0.75rem;
  right: -0.75rem;
  background: #00b853;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 184, 83, 0.2)), to(rgba(32, 55, 88, 0)));
  background: linear-gradient(90deg, rgba(0, 184, 83, 0.2) 0%, rgba(32, 55, 88, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b853", endColorstr="#203758", GradientType=1);
  border-radius: 2.5rem;
  z-index: -1;
}

.swiper .swiper-wrapper .two .testimonial-bottom-title {
  margin-bottom: 30px;
}

.swiper .swiper-wrapper .two .testimonial-bottom-title h3 {
  font-weight: 700;
  letter-spacing: -.7px;
  width: 545px;
  font-size: 50px;
}

.swiper .swiper-wrapper .two .testimonial-bottom-title p {
  padding-top: 8px;
  font-size: 17px;
}

.swiper .swiper-wrapper .two .testimonial-bottom-title .from span {
  font-size: 2.25rem;
  color: #d51243;
  font-weight: 500;
  padding-left: 10px;
}

.swiper .swiper-wrapper .two .testimonial-bottom-title a {
  background-color: #2bbef9;
  border-radius: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  font-size: .875rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0 0.9375rem;
  border: 1px solid;
  color: #fff;
  border-color: transparent;
  outline: none;
  -webkit-transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
  transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
}

.swiper .swiper-wrapper .two .testimonial-bottom-title a .from {
  margin-left: 10px;
}

.goods-top .container .flex-goods {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goods-top .container .flex-goods .first-goods-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
  padding: 1.25rem;
  border: 1px solid #e4e5ee;
  border-right: none;
}

.goods-top .container .flex-goods .first-goods-img h4 {
  text-align: center;
}

.goods-top .container .flex-goods .first-goods-img p {
  text-align: center;
}

.goods-top .container .flex-goods .goods-boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.goods-top .container .flex-goods .goods-boxs .top-boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 990px;
}

.goods-top .container .flex-goods .goods-boxs .top-boxs .goods-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  text-align: inherit;
  border: 1px solid #e4e5ee;
  padding: 1.25rem;
  border-right: none;
}

.goods-top .container .flex-goods .goods-boxs .top-boxs .goods-box img {
  width: 70px;
}

.goods-top .container .flex-goods .goods-boxs .top-boxs .goods-box .goods-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.goods-top .container .flex-goods .goods-boxs .top-boxs .goods-box .goods-info span {
  font-size: 13px;
}

.goods-top .container .flex-goods .goods-boxs .top-boxs .goods-box .goods-info a {
  font-size: 14px;
  color: black;
  font-weight: 500;
}

.goods-top .container .flex-goods .goods-boxs .bottom-boxs {
  width: 990px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goods-top .container .flex-goods .goods-boxs .bottom-boxs .goods-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  text-align: inherit;
  border: 1px solid #e4e5ee;
  border-top: none;
  border-left: none;
  padding: 1.25rem;
}

.goods-top .container .flex-goods .goods-boxs .bottom-boxs .goods-box img {
  width: 70px;
}

.goods-top .container .flex-goods .goods-boxs .bottom-boxs .goods-box .goods-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.goods-top .container .flex-goods .goods-boxs .bottom-boxs .goods-box .goods-info a {
  font-size: 14px;
  color: black;
  font-weight: 500;
}

.goods-top .container .flex-goods .goods-boxs .bottom-boxs .goods-box .goods-info span {
  font-size: 13px;
}
/*# sourceMappingURL=home.css.map */