* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
}

@mixin alignItemsCenter {
    display: flex;
    align-items: center;

}

@mixin centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin swiper-button {
    font-size: 16px;
    padding: 7px 10px;
    border-radius: 50%;
    background-color: white;
}

@mixin swiper-background($url) {
    padding-top: 70px;
    background-image: url($url);
    background-size: 100%;
    min-width: 0;
    background-repeat: no-repeat;
}

@mixin sub-menu($padding, $posLeft, $posTop) {


    color: black;
    background-color: #fff;
    border: 1px solid #edeef5;
    font-weight: 500;
    z-index: 4;
    padding: $padding;
    position: absolute;
    left: $posLeft;
    top: $posTop;
    opacity: 0;


}

@mixin goods-bottom-box {
    border: 1px solid #e4e5ee;
    position: relative;
    flex: 1 1 0px;

}


@mixin price-goods-bottom-img {
    display: block;
    position: absolute;
    top: 23px;
    left: 25px;
    width: 50px;
    height: 30px;
    padding: 10px 10px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    border-radius: 6px;
    background-color: #2bbef9;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@mixin fullscreen {
    position: absolute;
    top: 10px;
    right: 20px;
    display: inline-flex;
    box-shadow: 0px 10px 13px -7px #000000;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: #3e445a;
    background-color: #fff;
    opacity: 0;

    cursor: pointer;
    transform: translateX(10px);


}


@mixin heart {
    box-shadow: 0px 10px 13px -7px #000000;
    position: absolute;
    top: 80px;
    right: 10px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: #3e445a;
    background-color: black;
    color: #ffffff;
    opacity: 0;
    cursor: pointer;

}


@mixin animation($name, $right, $left) {

    animation-name: $name;
    animation-timing-function: ease-in-out;

    animation-duration: 0.5s;


    @keyframes #{$name} {
        from {
            right: $right;
        }

        to {
            right: $left;
        }
    }



}

//------------------------------------------------------//
.aside {
    background-color: #233A95;
    padding: 7px 0px;

    .container {
        font-size: 12.5px;
        @include centerFlex();
        color: white;

        .covid {
            padding: 0px 6px;
        }
    }
}





.header-top {
    background-color: #fff;
    border-bottom: 1px solid #e3e4e6;
    color: #3e445a;

    .container {

        .nav-bar {

            @include flex-between();
            align-items: center;

            .nav-column-left {
                font-size: 13px;

                .nav-list {
                    display: flex;
                    margin: 0;

                    .nav-item {
                        padding-left: 15px;
                        list-style: none;

                        .nav-link {
                            color: currentColor;

                            &:hover {
                                color: #2bbef9;
                            }
                        }
                    }

                }

            }


            .nav-column-right {
                font-size: 13px;
                display: flex;

                .icon-text-column-right {
                    @include alignItemsCenter();

                    img {
                        margin-right: 5px;
                    }

                    span {
                        padding-right: 20px;

                    }

                }




                .nav-right-text-content {
                    border-left: 1px solid black;
                    padding: 0px 20px;
                    @include alignItemsCenter();

                    .nav-right-call {
                        color: #2bbef9;
                        text-decoration: none;

                        strong {
                            margin-left: 3px;
                            font-weight: bolder;
                        }
                    }
                }


                .nav-right-language-money {
                    border-left: 1px solid black;
                    @include alignItemsCenter();

                    .language-list {
                        margin: 0;
                        list-style: none;
                        height: 2.4375rem;
                        position: relative;
                        top: 10px;




                        .languages {
                            position: relative;

                            cursor: pointer;


                            .fa-angle-down {
                                padding-left: 3px
                            }

                            .sub-languages {
                                visibility: hidden;
                                transition: 0.4s ease-in;

                                @include sub-menu(13px, -18px, 30px);


                                li {
                                    transition: all 0.2s ease-in-out;
                                    list-style: none;
                                    padding: 4px 14px;
                                    cursor: pointer;

                                    &:hover {
                                        color: rgb(29, 221, 255);
                                    }
                                }

                            }



                        }

                    }

                    .language-list:hover .sub-languages {
                        opacity: 1;
                        visibility: visible;

                    }

                    .language-list:hover {
                        color: #2bbef9;

                    }



                    .money-list {

                        list-style: none;
                        margin: 0;
                        height: 2.4375rem;
                        position: relative;
                        top: 10px;

                        .money {

                            cursor: pointer;

                            .fa-angle-down {
                                padding-left: 3px
                            }


                            .sub-money {
                                visibility: hidden;
                                transition: 0.4s ease-in;
                                @include sub-menu(20px, 20px, 30px);


                                li {
                                    transition: all 0.2s ease-in-out;
                                    list-style: none;
                                    padding: 3px 4px;

                                    &:hover {
                                        color: rgb(29, 221, 255);
                                    }
                                }

                            }

                        }

                    }

                    .money-list:hover .sub-money {
                        opacity: 1;
                        visibility: visible;

                    }

                    .money-list:hover {
                        color: #2bbef9;

                    }

                }


            }


        }



    }
}

.header-bottom {
    padding-top: 20px;

    .container {
        .nav-bar-center {
            margin-left: 30px;

            .sub-nav-top {

                @include flex-between();

                .icon-text {

                    padding-left: 30px;
                    padding-right: 20px;

                    p {
                        display: block;
                        font-size: .6875rem;
                        opacity: .5;
                        margin-top: 2px;
                    }
                }



                .select-location {
                    @include centerFlex();

                    .select-location-text {
                        position: relative;
                        display: flex;
                        align-content: center;
                        margin-right: 50px;
                        border: 1px solid #d9d9e9;
                        border-radius: 6px;
                        padding-top: 13px;
                        padding-bottom: 13px;
                        cursor: pointer;

                        .text {

                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding: 0px 25px 0px 20px;

                            p:first-child {
                                font-size: .625rem;
                                opacity: .5;
                                margin: 0;
                            }

                            p:last-child {
                                font-size: 13.4px;
                                font-weight: 600;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                width: 100%;
                                color: #233a95;
                                padding-right: 1.25rem;
                                margin: 0;
                            }

                        }

                        .fa-angle-down {
                            position: absolute;
                            right: 17px;
                            top: 42%;
                            font-size: 12px;
                            color: #233a95;
                        }
                    }



                    .sub-nav-top-search {
                        position: relative;


                        form {

                            .search {

                                font-size: 16px;
                                padding: 0px 15px;
                                width: 560px;
                                height: 60px;
                                max-width: 100vw;
                                margin: 0;
                                background-color: #f3f4f7;
                                color: #202435;
                                outline: none;
                                border: none;
                                border-radius: 10px;



                            }

                            .fa-magnifying-glass {
                                position: absolute;
                                right: 20px;
                                top: 20px;
                                font-size: 1.3rem;
                                font-weight: 600;
                                opacity: 0.7;

                            }
                        }


                    }
                }






                .icon-user-basket {
                    @include centerFlex();
                    padding-left: 20px;

                    .user-basket {
                        font-size: 1.125rem;
                        width: 2.625rem;
                        height: 2.625rem;
                        border: 1px solid #e2e4ec;
                        border-radius: 50%;
                        @include centerFlex();
                    }

                    bdi {
                        display: flex;
                        padding: 0px 18px;

                        .price-basket {
                            padding-right: 5px;
                        }
                    }

                    .basket {
                        position: relative;
                        background-color: #FFF1EE;

                        .bi-bag {
                            color: #ea2b0f;
                        }

                        sup {
                            display: inline-flex;
                            background: #ea2b0f;
                            position: absolute;
                            right: -4px;
                            top: -3px;
                            padding: 8px 3px 10px 5px;
                            border-radius: 50%;
                            color: white;
                            min-width: 1.0625rem;
                            height: 1.0625rem;
                            font-size: 13px;

                        }
                    }


                }

            }


        }


        .nav-bar-bottom {
            @include flex-between();
            margin-top: 30px;

            .nav-bar-bottom-button {
                .all-categories {
                    margin-left: 50px;
                    cursor: pointer;
                    position: relative;
                    align-items: center;

                    font-size: .9375rem;
                    font-weight: 600;
                    height: 3.125rem;
                    padding-left: 1.25rem;
                    padding-right: 1.25rem;
                    color: #fff;
                    background-color: #2bbef9;
                    border-radius: 3.125rem;
                    display: flex;

                    .bi-list {
                        font-size: 18px;
                        padding-right: 10px;
                    }

                    .all-categories-total {

                        h3 {
                            letter-spacing: 0;
                            font-size: 13px;
                            font-weight: 600;
                            margin-bottom: 0;
                        }

                        span {
                            position: absolute;
                            right: 40px;
                            display: inline-flex;
                            align-items: center;
                            font-size: .625rem;
                            letter-spacing: 0;
                            text-transform: uppercase;
                            height: 1.125rem;
                            padding-left: 0.5rem;
                            padding-right: 0.5rem;
                            color: #71778e;
                            background-color: #edeef5;
                            border: 1px solid #fff;
                            border-radius: 1.125rem;
                            bottom: -0.5rem;

                        }
                    }

                    .bi-chevron-down {
                        margin-left: 14px;
                    }

                }

                .dropdown-categories {
                    display: none;

                    .categories-item {
                        .category-parent {
                            .fa-apple {}

                            .category-parent-link {}

                            .bi-chevron-right {}

                            .category-sub-menu {
                                .category-sub-menu-item {}

                            }

                        }
                    }
                }


            }


            .nav-bar-bottom-menu {


                .nav-bottom-menu-list {
                    display: flex;
                    list-style: none;
                    margin-bottom: 0;

                    .shop {
                        position: relative;


                        .nav-bottom-menu-sub-shop {

                            opacity: 0;
                            visibility: hidden;
                            transform: translateY(-5px);
                            transition: all 0.25s cubic-bezier(0.17, 0.62, 0.44, 0.99);
                            @include flex-between();
                            position: absolute;
                            padding-left: 70px;
                            padding-right: 174.5px;
                            background-color: white;
                            border: 1px solid #ffffff;
                            z-index: 30;
                            width: 1540px;
                            top: 70px;
                            left: -690px;
                            border-top-color: transparent !important;
                            padding-top: 1.875rem;
                            padding-bottom: 2.25rem;



                            ul {


                                ul {
                                    color: #233a95;
                                    font-weight: 500;

                                    &:hover {
                                        color: #2bbef9;
                                    }

                                    li {
                                        color: #3e445a;
                                        font-size: 13px;
                                        list-style: none;
                                        padding-top: 20px;
                                        cursor: pointer;

                                        &:hover {
                                            color: #2bbef9;
                                        }
                                    }

                                }
                            }


                        }

                        &:hover .nav-bottom-menu-sub-shop {
                            opacity: 1;
                            visibility: visible;
                        }

                    }

                    .home {
                        position: relative;

                        &:hover .nav-bottom-menu-sub {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    .nav-bottom-menu-item {

                        .nav-bottom-menu-link {

                            &:hover {
                                background-color: #f1f9ff;
                                color: #32BDF8;

                            }

                            transition: 0.3s;
                            text-decoration: none;
                            font-size: 15px;
                            font-weight: 600;
                            line-height: 1;
                            letter-spacing: 0;
                            height: 2.5rem;
                            color: #3e445a;

                            padding: 10px 10px;
                            margin: 10px 10px;
                            border-radius: 2.5rem;




                        }


                        .fa-angle-down {
                            padding-left: 7px;

                        }

                        .bi-badge-8k {
                            padding-right: 5px;
                        }

                        .nav-bottom-menu-sub {

                            position: absolute;
                            min-width: 190px;
                            margin: 0;
                            padding: 30px 30px;
                            list-style: none;
                            left: -0.9375rem;
                            top: 40px;
                            z-index: 40;
                            opacity: 0;
                            visibility: hidden;

                            transform: translateY(-5px);

                            transition: all 0.25s cubic-bezier(0.17, 0.62, 0.44, 0.99);
                            background-color: #fff;
                            border: 1px solid #edeef5;


                            li {
                                &:hover {
                                    color: #32BDF8;
                                }

                                color: #3e445a;
                                font-size: 15px;
                                cursor: pointer;
                                padding-bottom: 17px;
                                font-weight: 500;
                            }
                        }


                    }


                }


            }
        }



    }

}


.swiper {
    margin-top: 20px;

    .swiper-button-next::after {
        @include swiper-button();

    }

    .swiper-button-prev::after {
        @include swiper-button();

    }

    //position: relative;
    .swiper-wrapper {



        .swiper-slide {

            @include swiper-background('../img/slider-img/slider-image-6.jpg');

            .testimonial-top-descripton {
                display: flex;

                p {
                    font-size: .75rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }

                .discount {
                    position: relative;
                    margin-left: 20px;
                    font-size: .875rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: green;
                    border-radius: 10px;
                    opacity: 0.8;

                    &::before {
                        position: absolute;
                        content: '';
                        top: -5px;
                        bottom: -5px;
                        left: -0.75rem;
                        right: -0.75rem;
                        background: #00b853;
                        background: -webkit-gradient(linear, left top, right top, from(rgba(0, 184, 83, 0.2)), to(rgba(32, 55, 88, 0)));
                        background: linear-gradient(90deg, rgba(0, 184, 83, 0.2) 0%, rgba(32, 55, 88, 0) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b853", endColorstr="#203758", GradientType=1);
                        border-radius: 2.5rem;
                        z-index: -1;
                    }
                }
            }

            .testimonial-bottom-title {
                margin-bottom: 30px;

                h3 {
                    font-weight: 700;
                    letter-spacing: -.7px;
                    width: 545px;
                    font-size: 50px;
                }

                p {
                    padding-top: 8px;
                    font-size: 17px;
                }

                .from {
                    span {
                        font-size: 2.25rem;
                        color: #d51243;
                        font-weight: 500;
                        padding-left: 10px;
                    }
                }

                a {
                    background-color: #2bbef9;
                    border-radius: 10px;
                    display: inline-flex;
                    align-items: center;
                    height: 2.5rem;
                    font-size: .875rem;
                    font-weight: 500;
                    text-decoration: none;
                    padding: 0 0.9375rem;
                    border: 1px solid;
                    color: #fff;
                    border-color: transparent;
                    outline: none;
                    transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);

                    .bi-arrow-right {
                        margin-left: 10px;
                    }
                }
            }


        }

        .two {

            @include swiper-background('../img/slider-img/slider-image-7.jpg');

            .testimonial-top-descripton {
                display: flex;

                p {
                    font-size: .75rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }

                .discount {
                    position: relative;
                    margin-left: 20px;
                    font-size: .875rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: green;
                    border-radius: 10px;
                    opacity: 0.8;

                    &::before {
                        position: absolute;
                        content: '';
                        top: -5px;
                        bottom: -5px;
                        left: -0.75rem;
                        right: -0.75rem;
                        background: #00b853;
                        background: -webkit-gradient(linear, left top, right top, from(rgba(0, 184, 83, 0.2)), to(rgba(32, 55, 88, 0)));
                        background: linear-gradient(90deg, rgba(0, 184, 83, 0.2) 0%, rgba(32, 55, 88, 0) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b853", endColorstr="#203758", GradientType=1);
                        border-radius: 2.5rem;
                        z-index: -1;
                    }
                }
            }

            .testimonial-bottom-title {
                margin-bottom: 30px;

                h3 {
                    font-weight: 700;
                    letter-spacing: -.7px;
                    width: 545px;
                    font-size: 50px;

                }

                p {
                    padding-top: 8px;
                    font-size: 17px;
                }

                .from {
                    span {
                        font-size: 2.25rem;
                        color: #d51243;
                        font-weight: 500;
                        padding-left: 10px;
                    }
                }

                a {
                    background-color: #2bbef9;
                    border-radius: 10px;
                    display: inline-flex;
                    align-items: center;
                    height: 2.5rem;
                    font-size: .875rem;
                    font-weight: 500;
                    text-decoration: none;
                    padding: 0 0.9375rem;
                    border: 1px solid;
                    color: #fff;
                    border-color: transparent;
                    outline: none;
                    transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);

                    .from {
                        margin-left: 10px;
                    }
                }
            }











        }






    }


}



//kodlu temizleyecem burda tekrarlanan kodlar var
.goods-top {

    .container {

        .flex-goods {
            padding: 20px;
            display: flex;

            .first-goods-img {
                flex: 1;
                max-width: 100%;
                padding: 1.25rem;
                border: 1px solid #e4e5ee;
                border-right: none;

                h4 {
                    text-align: center;

                }

                p {
                    text-align: center;
                }

            }

            .goods-boxs {
                display: flex;
                flex-wrap: wrap;

                .top-boxs {
                    display: flex;
                    width: 990px;

                    .goods-box {
                        display: flex;

                        align-items: center;

                        flex: 0 0 25%;
                        max-width: 25%;
                        text-align: inherit;
                        border: 1px solid #e4e5ee;
                        padding: 1.25rem;
                        border-right: none;


                        img {
                            width: 70px;
                        }

                        .goods-info {
                            display: flex;
                            flex-direction: column;

                            justify-content: center;

                            span {
                                font-size: 13px;
                            }

                            a {

                                font-size: 14px;
                                color: black;
                                font-weight: 500;
                            }
                        }

                    }
                }

                .bottom-boxs {
                    width: 990px;
                    display: flex;


                    .goods-box {
                        display: flex;

                        align-items: center;

                        flex: 0 0 25%;
                        max-width: 25%;
                        text-align: inherit;
                        border: 1px solid #e4e5ee;
                        border-top: none;
                        border-left: none;
                        padding: 1.25rem;

                        img {
                            width: 70px;
                        }

                        .goods-info {
                            display: flex;
                            flex-direction: column;

                            justify-content: center;

                            a {
                                font-size: 14px;
                                color: black;
                                font-weight: 500;
                            }

                            span {
                                font-size: 13px;
                            }
                        }

                    }


                }

            }






        }
    }

}

.goods-bottom {

    .container {


        .goods-bottom-first {
            margin-right: 20px;
            border: 2px solid #ed174a;
            border-radius: 10px;
            max-height: 750px;

            .timout-text {
                padding-left: 30px;

                h4 {

                    font-size: 1.25rem;
                    color: #233a95;
                    padding: 20px 0px;
                }

                span {
                    margin-right: 12px;
                    padding: 10px 10px;
                    background: #ed174a;
                    font-size: 1.25rem;
                    border-radius: 10px;
                    color: #fff;
                }

                p {
                    font-size: .75rem;
                    margin-top: 0.9375rem;
                    margin-bottom: 0;
                    color: #c2c2d3;
                }



            }

            .goods-bottom-img {
                position: relative;

                span {
                    position: absolute;
                    font-size: 1.5rem;
                    padding: 20px 14px;
                    top: 6px;
                    left: 18px;
                    background: #ed174a;
                    border-radius: 50%;
                    text-align: center;
                    color: #ffffff;


                }

            }


            .descripton-goods-bottom {
                padding: 20px;

                .bottom-goods-info {
                    p {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.4;
                    }

                    span {
                        color: #9b9bb4;
                        font-size: 11px;

                        span {
                            color: #00b853;
                        }
                    }





                }

                .progress {
                    border-radius: 0.75rem;

                    .prog {
                        display: inline-block;
                        width: 91%;
                        background: #d51243;
                        background: -webkit-gradient(linear, left top, right top, from(#d51243), color-stop(50%, #ff6048), to(#ffcd00));
                        background: linear-gradient(90deg, #d51243 0%, #ff6048 50%, #ffcd00 100%);
                    }
                }

                .product-count {
                    display: flex;
                    justify-content: end;
                    margin-bottom: 3px;

                    sup {
                        font-size: 10px;
                        font-weight: 600;
                        text-transform: uppercase;
                        text-align: right;
                        margin-bottom: 0.625rem;
                        color: #c2c2d3;

                        span {
                            font-size: 1rem;
                            color: #233a95;
                            padding-left: 4px;
                        }
                    }
                }


            }

        }


        .new-price {
            color: #d51243;
            font-size: 24px;
            margin-left: 5px;
        }

        strike {
            font-size: 20.4px;
            color: #c2c2d3;
        }

        display: flex;

        img {
            padding: 27px;
        }

        .button-flex {
            @include centerFlex();
            position: absolute;
            z-index: 50;
            bottom: -75px;
            left: -1.40px;
            background-color: #fff;
            padding: 20px 52.7px;
            display: none;

        }

        .child3 {
            padding: 20px 53px;
        }

        .child6 {
            padding: 20px 53px;
        }

        .button-goods {

            background-color: #233a95;
            @include centerFlex();
            border-radius: 50px;
            width: 200px;
            height: 34px;
            transition: 2.2s;

            a {
                text-decoration: none;
                font-size: .75rem;
                color: #fff;
                font-weight: 500;
            }
        }


        .goods-bottom-boxs {


            .organic {
                position: absolute;
                top: 55px;
                left: 60px;
                border-radius: 10px;
                color: #038e42;
                background: #e5f8ed;
                padding: 4px 4px;
                font-size: 10.4px;
                font-weight: 700;

            }



            .goods-bottom-box-top {
                display: flex;

                .goods-bottom-box {

                    @include goods-bottom-box();

                    .goods-bottom-box-img {
                        display: flex;
                        justify-content: center;

                        .price-goods-bottom-img {
                            @include price-goods-bottom-img();
                        }

                        .organic-sibling {

                            left: 50px;
                        }

                        .recommended {
                            position: absolute;
                            top: 55px;
                            left: 25px;
                            border-radius: 3px;
                            background-color: #71778e;
                            padding: 4px 4px;
                            font-size: 10px;
                            font-weight: 500;
                            color: #ffffff;
                        }

                        &:hover .bi-arrows-fullscreen {
                            opacity: 1;
                            @include animation(fullscreen, -10px, 20px)
                        }

                        &:hover .fa-heart {
                            opacity: 1;
                            @include animation(heart, -15px, 10px)
                        }

                        .bi-arrows-fullscreen {
                            &:hover {
                                background-color: #233a95;
                                color: white
                            }

                            @include fullscreen();

                        }

                        .fa-heart {
                            &:hover {
                                background-color: #233a95;
                                color: white
                            }

                            @include centerFlex();
                            @include heart();
                        }

                    }

                    .goods-bottom-box-info {
                        padding: 20px;

                        p {
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 1.4;
                        }

                        span {
                            display: block;
                            font-size: 12px;
                            color: #00b853;
                            font-weight: 500;
                        }

                    }

                    .price {
                        padding: 10px 20px;

                        .previous-price {}

                        .new-price {}
                    }

                    .button-goods {
                        a {}
                    }


                }
            }


            .goods-bottom-box-bottom {
                display: flex;

                .goods-bottom-box {

                    @include goods-bottom-box();

                    .goods-bottom-box-img {
                        display: flex;
                        justify-content: center;

                        .price-goods-bottom-img {
                            @include price-goods-bottom-img();
                        }

                        &:hover .bi-arrows-fullscreen {
                            opacity: 1;
                            @include animation(fullscreen, -10px, 20px)
                        }

                        &:hover .fa-heart {
                            opacity: 1;
                            @include animation(heart, -15px, 10px)
                        }

                        .bi-arrows-fullscreen {

                            &:hover {
                                background-color: #233a95;
                                color: white
                            }

                            @include fullscreen();
                        }

                        .fa-heart {

                            &:hover {

                                background-color: #233a95;
                                color: white
                            }

                            @include centerFlex();
                            @include heart();
                        }

                    }

                    .goods-bottom-box-info {
                        padding: 20px;

                        p {
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 1.4;
                        }

                        span {
                            display: block;
                            font-size: 12px;
                            color: #00b853;
                            font-weight: 500;
                        }

                    }

                    .price {
                        padding: 10px 20px;

                        .previous-price {}

                        .new-price {}
                    }

                    .button-goods {
                        a {}
                    }


                }
            }



        }


        .goods-bottom-box:hover .button-flex {
            opacity: 1;
            visibility: visible;
            @include centerFlex();
            animation-name: button;
            animation-timing-function: ease-in-out;
            animation-duration: 0.2s;
            border: 1px solid #bbbcc4;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top: none;

            @keyframes button {
                from {
                    padding: 0px 53px;
                    bottom: -20px;
                }

                to {

                    bottom: -75px;
                }

            }


        }

        .goods-bottom-box:hover {

            border: 1px solid #bbbcc4 !important;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            z-index: 100;

        }


    }


}




.discount-elements-img {
    padding: 30px;

    .row {

        .bacground-img {
            background-image: url(../img/bacola-banner/bacola-banner-11.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            border-radius: 10px;
            height: 280px;


            .elements-info {
                padding: 60px 40px;

                h4 {
                    font-size: .875rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 0;
                    color: #ff6048;
                }

                h2 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    letter-spacing: -.8px;
                    color: #3e445a;
                }

                p {
                    font-size: .75rem;
                }

                .elements-button {
                    margin-top: 30px;

                    a {

                        font-size: 14px;
                        color: #fff;
                        font-weight: 500;
                        padding: 9px 24px 12px 24px;
                        background-color: #233a95;
                        border-radius: 1.875rem;
                        text-decoration: none;
                    }
                }
            }


        }
    }

}



